/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 60px;

  /*===== Colors =====*/
  --first-color: #FCA4A6;
  --first-color-dark: #C1576A;
  --first-color-darken: #A83E51;
  --white-color: #012431;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}
@font-face {
  font-family:uaworld1;
  src: url(/assets/font/AUworld\ \(2\).TTF);
}
@font-face {
  font-family: uaworld;
  src: url(/assets/font/uaworld.ttf);
}
@font-face {
  font-family: auworld;
  src: url(/assets/font/auworld.ttf);
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: #00302d;
  font-family: uaworld1;
  font-weight: 100;
}

h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
.loader_bg {
  top: 0;
  position:fixed;
  width: 100%;
  height:900px;
  z-index: 1000000;
  background: linear-gradient(45deg, #333, #4c4a4a);
  align-items: center;
  justify-content: center;
}


.load {
  width: 100%;
  margin: 20px;
  top: 50%;
  font-family: auworld;
  position: fixed;
  color: #212121;
  text-transform: uppercase;
  border-bottom: 18px solid #212121;
}
.load:before {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  content: "divya classes";
  color: #00ffff;
  border-bottom: 18px solid #00ffff;
  animation: loading 4s infinite linear;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}


/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brnd{
  display: flex;
}
.brnd img{
  bottom: 0;
  position: relative;
  height: 60px;
}
.brnd a:nth-child(2){
  color: #00233f;
  margin-top: 20px;
  font-family: auworld;
  font-weight: 100;
  font-size: 25px;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
   .home__title{
    font-size: 60px !important;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__close hr{
  height: 2px;
  width: 60px;
  background: black;
  border: none;
  transform: skew(20px);
}
.nav__close hr:nth-child(1){
  transform: rotate(45deg);
}
.nav__close hr:nth-child(2){
  transform: rotate(-45deg);
}
.nav__item{
  margin-bottom: 2rem;
  font-family:  Helvetica,;
  font-size: 20px;
  font-family: Arial;
  color: black;
}

.nav__close, .nav__link,.nav__toggle{
  color: black;
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__toggle hr{
  height: 2px;
  width: 20px;
  background: black;
  border: none;
}

/*=== Show menu ===*/
.show{
  right: 0;
}
@keyframes d3{
  0%{transform: rotate3d(1,1,1, 1deg);}
  50%{transform: rotate3d(1,1,1, 360deg);}
  100%{transform: rotate3d(1,1,1,360deg);}
}

/*===== HOME =====*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(90vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}
.d3{
  animation: d3 5s infinite;
}
.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 350px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  font-family: uaworld;
  font-weight: 100;
}

.home__description{
  margin-bottom: 2.5rem;
  font-size: x-large;
  width: 360px;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  .home__img{
    order: 1;
    margin-left: 90px;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 650px;
  }
}

.word:nth-child(1){
  color: #ff0000;
}
.word:nth-child(2){
  color: #00302d;
}.word:nth-child(3){
  color: #050227;
}.word:nth-child(4){
  color: #00747c;
}.word:nth-child(5){
  color: #000000;
}
.text {
  position: absolute;
  width: 100%;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about{
  width: 100%;
  height: 1350px;
  background: #dedede;
  
}
/*===*/
.classroom-list-con {
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: #dedede;
}
.classroom-list-con .classroom-list-con-inner {
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.classroom-list-con .classroom-list-con-inner .classroom-con-outer {
    width: 100%;
    position: relative;
}
.classroom-list-con .classroom-list-con-inner .classroom-con {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 10px;
    display: flex;
    scroll-behavior: smooth;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con::-webkit-scrollbar {
    display: none;
}
.classroom-list-con .classroom-list-con-inner .classroom-con .classroom-item {
    width: 300px;
    min-width: 300px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow:  -4px -5px 5px #f8f8f8, 7px 5px 13px #4e4e4e;;
    background-color: #dedede;
    padding: 15px;
    margin: 10px 15px 10px 0px;
    position: relative;
    white-space: initial;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .name {
    font-size: 16px;
    color: #1f3965;
    font-family: "Lato";
    font-weight: 600;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .subject {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .subject
    .subject-tag {
    width: fit-content;
    width: -moz-fit-content;
    background-color: #f5f6fa;
    opacity: 0.83;
    color: #1f3965;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .desc {
    font-size: 14px;
    line-height: 18px;
    color: #6b82ab;
    opacity: 0.8;
    padding: 0 0 40px 0;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .desc
    .see-more {
    font-size: 14px;
    color: #1da1f2;
    cursor: pointer;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .desc
    .more-content {
    display: none;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .desc
    .see-less {
    display: none;
}
.classroom-list-con
    .classroom-list-con-inner
    .classroom-con
    .classroom-item
    .contact-btn {
    color: #fff;
    background-color: #1da1f2;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 90%;
    margin-top: 8px;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    text-align: center;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button,.gitem, .image-box img{
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #002d38;
}
.wrapper{
  position: relative;
  width: 100%;
  margin: 20px;
  height: 500px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .icon{
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}
.wrapper .icon i{
  position: relative;
  z-index: 9;
}
.wrapper .icon.arrow{
  left: 15px;
}
.wrapper .icon.dots{
  right: 15px;
}
.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area{
  height: calc(110% - 25px);
  width: calc(110% - 25px);
  border-radius: 50%;
  overflow: hidden;
}
.inner-area img{
  height: 110%;
  width: auto;
}
.wrapper .name{
  font-size: 200%;
  font-family: auworld;
  font-weight: 800;
  color: #02072e;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  text-align: center;
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .social-icons{
  margin: 15px 0 25px 0;
}
.social-icons a{
  position: relative;
  height: 40px;
  width: 40px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
}
.social-icons a i{
  font-size: xx-large;
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 4px 0px 0px 4px;
}
.social-icons a.fb i{
  color: #4267B2;
}
.social-icons a.twitter i{
  color: #1DA1F2;
}
.social-icons a.insta i{
  color: #f50909;
}
.social-icons a.yt i{
  color: #ff0000;
}
.wrapper .buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.feture {
  display: contents;
}
.feture li{
  margin: 1px;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  background: #edf3f7;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.feture h1{
  text-align: center;
  margin-top: 10px;
}
